{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MetaDictionary </title>
	<link rel="stylesheet" href="{% static 'styles.css' %}" />
	<link rel="stylesheet" type="text/css" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">

	<!-- swipper js -->
	<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

	<!-- For the texture background style starts-->
	<style type="text/css">
		body{
			background-image: url("static/images/bg-texture.png");
		}
	</style>
	<!-- For the texture background style ends-->

</head>
<body>
{% comment %} NAVBAR STARTS {% endcomment %}
	<nav>
		<div class="container nav_container">
			<a href="homepage.html"><h4>MetaDictionary</h4></a>
			<ul class="nav_menu">
				<li><a href="homepage.html">Home</a></li>
				<li><a href="about.html">About</a></li>
			</ul>
			<button id="open-menu-btn"><i class="uil uil-bars"></i></button>
			<button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
		</div>
	</nav>
{% comment %} NAVBAR ENDS {% endcomment %}


{% comment %} HEADER STARTS {% endcomment %}
	
	<header>
		<div class="container header_container">
			<div class="header_left">
				<h1>Search for a word: </h1>
				<h1>
                    <form action="/search/" method="post">
                      {% csrf_token %}
                      <input
                        id="searchbar"
                        type="text"
                        name="searchbar"
                        value="{{ current_name }}"
                      />
                      <input type="submit" value="Search" />
                    </form>
                </h1>
                
			</div>
            {% comment %}  image on right side of header {% endcomment %}
			<div class="header_right">
				<div class="header_right_image">
                        <p> <strong> formal definitions of {{word}} </strong> </p>
                    {% for def in Formal %}
                        <p>{{def}}</p>
                    {% endfor %}
                    <p> <strong> slang definitions of {{word}} </strong></p>
                    {% for ef in slangDef %}
                        <p>{{ef}}</p>
                    {% endfor %}
				</div>
			</div>
		</div>
	</header>

{% comment %} HEADER ENDS {% endcomment %}
	

{% comment %} CATEGORY STARTS {% endcomment %}

	
	<section class="categories">
		<div class="container categories_container">
			<div class="categories_left">
				<h1>What is MetaDictionary?</h1>
				<p>The purpose of this project is to have a dictionary that lists multiple definitions from different
                    dictionary resources. Some dictionaries list the slang definitions of a word like Urban Dictionary,
                    while others like Merriam-Webster list the formal definition of the word. By implementing multiple
                    dictionary definitions together in one website, it can help users understand the context of the word. </p>
			</div>

			<div class="categories_right">
				<article class="category">
					<span class="category_icon"><i class="uil uil-palette"></i></span>
					<h5>Word of the Day</h5>
					<p>Randomly generated surprise word for user</p>
				</article>

				<article class="category">
					<span class="category_icon"><i class="uil uil-bitcoin-circle"></i></span>
					<h5>Dictionary API</h5>
					<p>API used for formal definition</p>
				</article>

				<article class="category">
					<span class="category_icon"><i class="uil uil-usd-circle"></i></span>
					<h5>Urban Dictionary API</h5>
					<p>API used for slang definition</p>
				</article>

				<article class="category">
					<span class="category_icon"><i class="uil uil-megaphone"></i></span>
					<h5>Word of the Day API</h5>
					<p>API used for word of the day</p>
				</article>

				<article class="category">
					<span class="category_icon"><i class="uil uil-music"></i></span>
					<h5>Frontend</h5>
					<p>HTML/CSS/Javascript</p>
				</article>

				<article class="category">
					<span class="category_icon"><i class="uil uil-puzzle-piece"></i></span>
					<h5>Backend & Hosting</h5>
					<p>Django,Python,Heroku</p>
				</article>
			</div>
		</div>
	</section>

{% comment %} CATEGORY ENDS {% endcomment %}

{% comment %} TEAM STARTS {% endcomment %}
	<section class="team">
		<h2>Our Team</h2>
		<div class="container team_container">
			<article class="team">
				<div class="team_image">
					<img src="static/images/mualla_argin.jpg">
				</div>
				<div class="team_info">
					<h4>Mualla Argin</h4>
					<p>CS Junior @ Texas A&M</p>
					<a href="about.html" class="btn btn-primary">Learn More</a>
				</div>
			</article>
			
			<article class="team">
				<div class="team_image">
					<img src="static/images/dylan.jpg">
				</div>
				<div class="team_info">
					<h4>Dylan Heathcock</h4>
					<p>CS Junior @ Texas A&M</p>
					<a href="about.html" class="btn btn-primary">Learn More</a>
				</div>
			</article>
			
			<article class="team">
				<div class="team_image">
					<img src="static/images/matthew.jpg">
				</div>
				<div class="team_info">
					<h4>Matthew Atanas</h4>
					<p>CS Junior @ Texas A&M</p>
					<a href="about.html" class="btn btn-primary">Learn More</a>
				</div>
			</article>

		</div>
	</section>


{% comment %} TEAM ENDS {% endcomment %}
	

{% comment %} FAQ STARTS {% endcomment %}
	
	<section class="faqs">
		<h2>Frequently Asked Questions</h2>
		<div class="container faqs_container">
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>What is MetaDictionary?</h4>
					<p>The purpose of this project is to have a dictionary that lists multiple definitions from different
                        dictionary resources. Some dictionaries list the slang definitions of a word like Urban Dictionary,
                        while others like Merriam-Webster list the formal definition of the word. By implementing multiple
                        dictionary definitions together in one website, it can help users understand the context of the word.</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>Who created MetaDictionary?</h4>
					<p>Mualla Argin, Dylan Heathcock, Matthew Atanas</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>Why the name MetaDictionary?</h4>
					<p>Meta means all and we wanted to create a dictionary that encompasses ALL kinds of definitions</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>What technologies were used to develop this dictionary?</h4>
					<p>Python,HTML/CSS/Javascript, Django, Heroku</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>Will there be future updates?</h4>
					<p>Yes, We will further develop our Word of the Day Feature. Stay tuned!</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>Where can I find the contact information of the web developers?</h4>
					<p>In the about section of this page.</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>How do I know the right team for me?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>How do I know the right team for me?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>How do I know the right team for me?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
				</div>
			</article>
			
			<article class="faq">
				<div class="faq_icon"><i class="uil uil-plus"></i></div>
				<div class="question_answer">
					<h4>How do I know the right team for me?</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
				</div>
			</article>

		</div>
	</section>

{% comment %} FAQ ENDS {% endcomment %}
	


{% comment %} TESTIMONIALS START {% endcomment %}

	<section class="container testimonials_container mySwiper" >
		<h2>User Testimonials</h2>
		<div class="swiper-wrapper">

			<article class="testimonial swiper-slide">
				<div class="avatar">
					<img src="static/images/avatar1.jpg">
				</div>
				<div class="testimonial_info">
					<h5>Mariam</h5>
					<small>Student</small>
				</div>
				<div class="testimonial_body">
					<p>This website is amazing! It helps me understand my friends slang better! I Look forward to using it everyday.</p>
				</div>
			</article>
			
			<article class="testimonial swiper-slide">
				<div class="avatar">
					<img src="static/images/avatar2.jpg">
				</div>
				<div class="testimonial_info">
					<h5>Michael</h5>
					<small>Web Developer</small>
				</div>
				<div class="testimonial_body">
					<p> Very clean and effective user interface. I am taking inspiration from this project for my future projects!</p>
				</div>
			</article>
			
			<article class="testimonial swiper-slide">
				<div class="avatar">
					<img src="static/images/avatar3.jpg">
				</div>
				<div class="testimonial_info">
					<h5>Robin</h5>
					<small>Student</small>
				</div>
				<div class="testimonial_body">
					<p>This website is very helpful as I am a foreigner visiting the united states for the first time!</p>
				</div>
			</article>
			
			<article class="testimonial swiper-slide">
				<div class="avatar">
					<img src="static/images/avatar4.jpg">
				</div>
				<div class="testimonial_info">
					<h5>Mualla</h5>
					<small>Student</small>
				</div>
				<div class="testimonial_body">
					<p>I loved creating and using this website. I learned a lot about front end development through this project!
                    </p>
				</div>
			</article>
			
			<article class="testimonial swiper-slide">
				<div class="avatar">
					<img src="static/images/avatar5.jpg">
				</div>
				<div class="testimonial_info">
					<h5>Heather</h5>
					<small>Student</small>
				</div>
				<div class="testimonial_body">
					<p>Can't wait to see what else MetaDictionary will offer us in the future! Loved the word of the day feature!!</p>
				</div>
			</article>
		</div>
		      <div class="swiper-pagination"></div>
	</section>

{% comment %} TESTIMONIAL ENDS {% endcomment %}



{% comment %} FOOTER STARTS {% endcomment %}
	<footer>
		<div class="container footer_container">
			<div class="footer_1">
				<a href="homepage.html" class="footer_logo"><h4>MetaDictionary</h4></a>
				<p>All-encompassing Dictionary</p>
			</div>

			<div class="footer_2">
				<h4>Permalinks</h4>
				<ul class="permalinks">
					<li><a href="homepage.html">Home</a></li>
					<li><a href="about.html">About</a></li>
				</ul>
			</div>

			<div class="footer_3">
				<h4>Privacy</h4>
				<ul class="privacy">
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms and conditions</a></li>
				</ul>
			</div>

			<div class="footer_4">
				<h4>Contact us</h4>
				<div>
					<p>https://www.linkedin.com/in/muallaargin/</p>
                    <p>margin25@tamu.edu</p>
				</div>

				<ul class="footer_socials">
					<li><a href="#"><i class="uil uil-instagram-alt"></i></a></li>
					<li><a href="#"><i class="uil uil-twitter"></i></a></li>
					<li><a href="#"><i class="uil uil-linkedin-alt"></i></a></li>
				</ul>
			</div>
		</div>

			<div class="footer_copyright">
				<small>Copyright &copy; MetaDictionary2022</small>
			</div>
	</footer>
{% comment %} FOOTER ENDS {% endcomment %}
	<script type="text/javascript" src="static/js/main.js"></script>
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
	<script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        breakpoints:{
        	600:{
        		slidesPerView: 2
        	}
        }
      });
    </script>
</body>
</html>