{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href = "{% static 'styles.css' %}"> 
    </head>

    <body>
        <h1> 
            <a href="/">MetaDictionary</a>
            {{word}}
		<form action="/search/" method="post">{% csrf_token %}
			<input id="searchbar" type="text" name="searchbar" value="{{ current_name }}">
			<input type="submit" value="Search">
		</form>
        </h1>
        <p>
            {{word}} : {{definition}}
            <br>
            {{word}} : {{slangDef}}
        </p>
    </body>
</html>