{% load static %}
{% load gTTS %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>

  <body>
    <div class="fixed-header">
      <div class="container">
        <nav>
          <a href="https://docs.google.com/presentation/d/1pHkc0fLpPrPV_nz6jYazySir9nGKtclcDkSgVxvTivI/edit?usp=sharing">MetaDictionary</a>
        </nav>
      </div>
    </div>
    <div class="container">
      <h1>
        <a href="/">Word:</a>
        {{word}}
        <form action="/search/" method="post">
          {% csrf_token %}
          <input
            id="searchbar"
            type="text"
            name="searchbar"
            value="{{ current_name }}"
          />
          <input type="submit" value="Search Again" />
        </form>
      </h1>
      <h2> <strong> formal definitions of {{word}} </strong></h2>
      {% for def in Formal %}
        <p>{{def}}</p>
      {% endfor %}
      

      <h2> <strong> slang definitions of {{word}} </strong></h2>
        <p>{{slangDef}}</p>
      
    </div>
    <div class="fixed-footer">
        <div class="container">Copyright &copy; 2022 MetaDictionary </div>
    </div>
  </body>
</html>
